.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
  cursor: pointer;
  border: none;
  padding: 14px 45px 14px 45px;
  color: #FFF;

}